
body {
 background-color: rgb(235, 21, 21) ;
}
  
h1 {
color: blue;
}
 
h3 {
color: aqua;
} 
 
hr {
    border-style: hidden;
    border-top-style:dashed;
    border-color: blueviolet;
    border-width: 5px;
    width: 10%;
}








